<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= title%>
  </title>
  <link rel="stylesheet" href="/messageboard/css/main.css">
</head>

<body>
  <header id="header">
    <h5 class="add-note">添加留言</h5>
    <div class="user-action">
    <% if(!isLogin){ %>
    <h5 class="login github"><a class="login username" href="/auth/github">Github登录</a></h5>
    <% } else{ %>
    <img class="userimg" src="<%=user.avatar %>"/>
    <span class="username"><%= user.username%> | </span>
    <a class="logout" href="/auth/logout">注销</a>
    <% } %>
    </div>
  </header>
  <div id="note-container">
    <ul id="note-list">
      
    </ul>
  </div>
  <script src="/messageboard/js/index.js"></script>
</body>

</html>

