@import './fonts/index.less';
@import 'variables';
@import 'reset';

body {
  background: #00796b;
}
#header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #888;
  background: #fff;
  h5.add-note {
    margin: 0 20px;
    cursor: pointer;
  }
  h5.login.github {
    a {
      text-decoration: none;
      color: #000;
    } 
  }
  h5.github::before {
    content: @icon-github;
    font-family: 'iconfont';
    margin-right: 0.5em;
  }
  .user-action{
    .userimg {
      height: 2em;
    }
    .logout {
      text-decoration: none;
      color: #000;
    }
  }
}

#note-container {
  width: 90%;
  margin: 0 auto;
}
#note-container::after {
  content: '';
  display: block;
  clear: both;
}