@font-face {
  font-family: "iconfont";
  src: url(fonts/iconfont.eot);
  /* IE9*/
  src: url(fonts/iconfont.eot#iefix) format('embedded-opentype'),  url(fonts/iconfont.ttf) format('truetype'),  url(fonts/iconfont.svg#iconfont) format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-close::after {
  font-family: "iconfont";
  content: "\E725";
}
* {
  padding: 0;
  margin: 0;
}
body div,
body p,
body span {
  font-size: 14px;
}
body {
  background: #00796b;
}
#header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #888;
  background: #fff;
}
#header h5 {
  margin: 0 20px;
  cursor: pointer;
}
#header h5.github::before {
  content: "\E732";
  font-family: 'iconfont';
  margin-right: 0.5em;
}
#note-container {
  width: 90%;
  margin: 0 auto;
}
#note-container::after {
  content: '';
  display: block;
  clear: both;
}
#note-list {
  list-style: none;
  position: relative;
  width: 100%;
}
#note-list li {
  width: 240px;
  position: absolute;
  box-sizing: border-box;
  padding: 20px 10px 10px 10px;
}
.note-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#fff7bb, #f6ef94);
  position: relative;
  box-sizing: border-box;
  padding: 10px;
}
.note-item .note-tape {
  position: absolute;
  left: -15px;
  top: 5px;
  width: 70px;
  height: 25px;
  background: rgba(255, 255, 255, 0.5);
  transform: rotate(-45deg);
}
.note-item .note-content {
  width: 100%;
  text-align: left;
  margin: 10px 0;
  flex-shrink: 0;
  outline: none;
  -webkit-user-modify: read-write-plaintext-only;
}
.note-item .note-info {
  text-align: right;
  flex-shrink: 1;
}
.note-item .note-info .time {
  margin-top: 5px;
}
.note-item span {
  display: inline-block;
  text-align: right;
  cursor: pointer;
  flex-shrink: 1;
}
.toast {
  font-size: 14px;
  position: fixed;
  left: 50vw;
  bottom: 2em;
  transform: translateX(-50%);
  width: 6em;
  height: 2em;
  line-height: 2em;
  border-radius: 1em;
  border: 1px solid #000;
  box-shadow: 0 0 10px 5px #0CC;
  text-align: center;
}
